<div class="mat-elevation-z8 container form-container">
  <h2 class="form-element mat-headline">{{title}}</h2>
  <form [formGroup]="bookForm">
    <div class="form-element">
      <mat-form-field appearance="fill">
        <mat-label>Автор</mat-label>
        <mat-select formControlName="author">
          <mat-option *ngFor="let author of authors"
                      [value]="author" > {{author.surname + " " + author.name + " " + author.middleName}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-element">
      <mat-form-field appearance="fill">
        <mat-label>Название книги</mat-label>
        <input matInput [(ngModel)]="book.title" type="text" formControlName="title" required>
      </mat-form-field>
    </div>
    <div class="form-element">
      <mat-form-field appearance="fill">
        <mat-label>Дата публикации</mat-label>
        <input matInput [(ngModel)]="book.publicationDate" type="date" formControlName="publicationDate" required>
      </mat-form-field>
    </div>
    <div class="form-element-button">
      <button mat-raised-button (click)="onSubmit()" [disabled]="!bookForm.valid || loading">Отправить
        <mat-icon *ngIf="loading">
          <mat-spinner color="accent" diameter="20"></mat-spinner>
        </mat-icon>
      </button>
    </div>
  </form>
</div>
