.filter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.filter mat-form-field {
  padding-left: 1em;
  padding-right: 1em;
}

mat-form-field {
  width: 25em;
}
